<nav class="navbar color-back" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" width="112" height="28">
      <%= link_to image_tag("favicon.ico.png", class: "img-responsive", id: "logo"), root_path %>
    </a>
  </div>
  <hr class="navbar-divider">
  <div class="navbar-end">
    <div class="navbar-item">
      <div class="dropdown is-up is-hoverable">
        <div class="dropdown-trigger">
          <button class="button" aria-haspopup="true" aria-controls="dropdown-menu7">
            <span>Contact Us</span>
            <span class="icon is-small">
              <i class="fas fa-angle-up" aria-hidden="true"></i>
            </span>
          </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu7" role="menu">
          <div class="dropdown-content">
            <div class="dropdown-item">
              <a href="https://github.com/shshamim63"> Shakhawat Hossain</a>
              <br>
              <a href="https://github.com/trillianjose"> Jose Arteche</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
